.container {
    display: grid;
    grid-template-columns: 150px 25% 20vw;
    grid-template-rows: 200px 15vh 10vw 20%;
}
.child {
    background-color: lightcoral;
}
/* odd children selection */
.child.child:nth-child(2n+1) {
    background-color: lightsalmon;
}